---
const {title,description}=Astro.props;


interface Props {
    title?: string;
    description?: string;
}
import inter from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2'

---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description}/>
    <preload href={inter} as="font" type="font/woff2" crossorigin="anonymous" />
</head>

